<section class="section banner">
		<!-- Video di sfondo centrato (non si espande in orizzontale) -->
		<div class="video-background">
			<video autoplay muted loop playsinline>
				<source src="images/Assets/UEShowcase.mp4" type="video/mp4">
			</video>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-10 mx-auto"> <!-- Aggiunto mx-auto per centrare la colonna -->
					<h2 class="cd-headline clip is-full-width mb-4">
						I am <br>
						<span class="cd-words-wrapper text-color">
							<b class="is-visible">Raffaele Castania.</b>
							<b>a Gameplay Programmer.</b>
							<b>a Dreamer.</b>
						</span>
					</h2>
					<p>I provide incredible interactive experiences through structured systems :D.</p>
				</div>
			</div>
		</div>
	</section>